<div class="headerContainer">
    <div class="hideableHeader" *ngIf="getIsLoggedIn">
        <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
        <button class="nes-btn" (click)="toTrainer()">Trainer</button>
        <button class="nes-btn" (click)="toCatalogue()">Catalogue</button>
        <button class="nes-btn is-error" (click)="logOut()">Log Out</button>
        <img class="headerImg" src="https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-Download-Image.png" />
    </div>
</div>