.headerContainer {
    height: 70px;
    width: 100%;
}

.hideableHeader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nes-btn {
    height: 35px;
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    margin: 10px;
}

.nes-btn:hover {
    background-color: #d8c594;
}

.headerImg{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}