<div *ngIf="pokemon" id="{{pokemon.name}}" class="card" (click)="savePokemon($event)"
    [ngStyle]="{'background-color': backgroundColor}">
    <p class="name">{{pokemon.name}}</p>
    <img class="sprite" src="{{pokemon.sprites.front_default}}" alt="" loading="lazy"
        [ngStyle]="{'background-color': imgBackgroundColor}">
    <div class="bottomContainer">
        <p class="type">{{pokemon.types[0].type.name}}</p>
        <div class="ballContainer">
            <img *ngIf="pokemon.isCaptured && showBall" class="ball" src="https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-Download-Image.png" alt="">
        </div>
    </div>
</div>