.card {
    user-select: none;
    width: var(--cardWidth);
    height: var(--cardHeight);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    border: solid 4px;
    border-image: linear-gradient(45deg, gold, silver) 1;
    font-family: 'Quicksand', sans-serif;
  }

  .name {
      font-size: 18px;
      font-weight: 600;
  }
  
  .ball {
    width: 20px;
  }

  .sprite {
    border: #000 solid 1px;
    margin-top: 10px;
    width: 120px;
  }

  .bottomContainer {
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
  }

  .ballContainer {
      height: 30px;
  }

  p {
      margin: 0;
  }