@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.startPageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 40px;
    font-family: 'Press Start 2P', cursive;
    background-image: url("../../assets/images/pokeBallImage.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    height: 100%;
}

.startBall {
    grid-column: 2;
    grid-row: 2;
}

.loginForm {
    grid-column: 1;
    grid-row: 2;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    max-width: auto;
    justify-self: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: var(--yellow);
    -webkit-text-stroke: 2px black;
    font-size: 70px;
    text-shadow: 2px 2px 5px black;
    margin: 10px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    margin: 30px;
    align-self: flex-end;
    justify-self: center;
}