<div class="startPageContainer">
    <div class="titleContainer animate__jackInTheBox_animate__slow">
        <h1>{{title1}}</h1>
        <h1>{{title2}}</h1>
    </div>
    <app-login-form class="loginForm" (loginEvent) ="loginUser($event)"></app-login-form>
</div>
