@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.appContainer {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 0 1fr auto;
    margin-bottom: -40px;
}

.footer {
    height: 40px;
    background-color: #C4C4C4;
    font-family: 'Press Start 2P', cursive;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}
