input[type="text"] {
    font-family: 'Press Start 2P', cursive;
    height: 45px;
    border-radius: 4px;
    width:400px;
    background-color: #C4C4C4;
    margin-right: -55px;
}

.submitInput {
    display: flex;
    align-items: center;
    margin: 15px;

}

.submit {
    width: 50px;
    height: 45px;
    background: url("../../../assets/images/arr.png") no-repeat;
    border-style: none;
}