<form (ngSubmit)="onSubmit()" class="submitInput"> 
    Log in: <input type="text" placeholder="Enter your name here"
    [(ngModel)] = "usernameInput" name="usernameInput">
    <button class="submit" type="submit"></button>
</form>