/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*Global colour variables*/
:root {
    --Bug: #a8b821;
    --Dragon: #7038f9;
    --Electric: #f8d030;
    --Fire : #f07f2f;
    --Flying: #a890f0;
    --Ghost: #705798;
    --Grass: #78c84f;
    --Ground: #e0c069;
    --Ice: #98d8d8;
    --Normal: #a9a878;
    --Poison: #a040a1;
    --Psychic: #f85888;
    --Rock: #b7a038;
    --Water: #6890f0;
    --Fairy: #f7c9e3;
    --Steel: #b8b8d0;
    --Dark: #6f5848;
    --yellow: #F0DBA5;
    --grey: #E7E7E6;
    --red: #C04C4B;
    --pokemonFont: font-family: 'Press Start 2P', cursive;

    --cardHeight: 250px;
    --cardWidth: 150px;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--cardWidth), 1fr));
    gap: 50px;
    justify-items: center;
  }

  body {
    margin: 0px;
    background-color: var(--grey) !important;
}
